* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.page {
  text-align: center;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40vh;
}
.loader p {
  opacity: .6;
}