body {
  margin: 0;
  font-family: serif;
  width: 100%;
  background-color: white;
}

.users {
  border: 1px solid rgb(236, 236, 236);
  margin: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
  width: 100%;
  height: auto;
  border-radius: 5px;
  text-align: left;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(167, 167, 167, 0.48);
  -moz-box-shadow: 0px 2px 2px 0px rgba(170, 170, 170, 0.48);
  box-shadow: 0px 2px 2px 0px rgba(206, 206, 206, 0.48);
}

.users p {
  font-size: 14px;
  padding: 3px;
  font-weight: bold;
  color: rgb(119, 110, 113);
}

.users p b {
  background: rgb(247, 239, 243);
  margin-left: 5px;
  color: rgb(65, 65, 65);
  letter-spacing: 0.1em;
  font-size: 15px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.header {
  display: flex;
  background: rgb(231, 231, 231);
  color: rgb(31, 31, 31);
  font-size: 16px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
.header h2 {
  margin: 5px;
}
.all_details {
  padding: 10px;
}
