@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

body {
  margin: 0;
  font-family: serif;
  width: 100%;
  background-color: white;
  font-family: "Antic Slab", serif;
}

.users {
  border: 1px solid rgb(236, 236, 236);
  margin: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
  width: 100%;
  height: auto;
  border-radius: 5px;
  text-align: left;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(167, 167, 167, 0.48);
  -moz-box-shadow: 0px 2px 2px 0px rgba(170, 170, 170, 0.48);
  box-shadow: 0px 2px 2px 0px rgba(206, 206, 206, 0.48);
}

.users p {
  font-size: 13px;
  padding: 3px;
  font-weight: lighter;
  color: rgb(119, 110, 113);
  letter-spacing: 0.08em;
}

.users p b {
  background: rgb(255, 247, 251);
  margin-left: 5px;
  color: rgb(65, 65, 65);
  letter-spacing: 0.1em;
  font-size: 14px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.header {
  display: flex;
  background: rgb(240, 240, 240);
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 5px;
}
.header p {
  font-weight: bolder;
  color: rgb(20, 20, 20);
  font-size: 16px;
  letter-spacing: .2em;
  margin: 2px;
}
.all_details {
  padding: 10px;
}

input[type=search] {
  padding: 10px;
  border: 1px solid rgb(231, 231, 231);
  width: 50%;
  text-align: center;
}