body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100%; */
  background-color: rgb(241, 241, 241);
}
.users {
  border: 1px solid rgb(253, 253, 253);
  margin: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  text-align: left;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.header {
  display: flex;
  gap: 5px;
  background: rgb(14, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(14, 0, 36, 1) 0%,
    rgba(54, 188, 235, 1) 0%,
    rgba(175, 65, 176, 1) 67%
  );
  color: rgb(255, 255, 255);
  font-size: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.48);
  -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.48);
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.48);
}
.all_details {
  padding: 5px;
}
